.AdminMenu{
    display: flex;
    flex-direction: column;
    width: 95%;
    gap: 1rem;
    /* border: 1px solid ; */
    border-radius: 10px;
    /* padding:2rem ; */
    box-shadow: var(--shadow);
    background-color: white;
}
.MenuBox-item{
    padding: 0px 15px ;
}
.MenuBox-item p{
    font-size: 1rem;
}
.MenuBox-item img{
    width: 1rem;
}